
.card_box {
  width: 400px;
  height: 490px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 10px;
  background-color: #e1e3ea;
  border-radius: 5px;
}

.img {
  width: 380px;
  height: 200px;
  border: 1px solid black;
  border-radius: 6px;
  margin-top: 10px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_box_title {
  font-size: 25px;
}

.card_box_name {
  display: flex;
  justify-content: space-between;
}

.card_box_name_title {
  color: gray;
}

.card_box_view {
  display: flex;
  gap: 10px;
}

.card_box_view_number {
  font-weight: 400;
}

.popularity_box_star {
  display: flex;
  gap: 10px;
  align-items: center;
}

.popularity_box_star_box {
  display: flex;
  gap: 2px;
}

.icon {
  font-size: 12px;
}

.popularity_box_text {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.popularity_box {
  display: flex;
  justify-content: space-between;
}

.popularity_box_text {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.price_box_btn {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.price_box_price {
  font-weight: 600;
  font-size: 30px;
}

.price_box {
  display: flex;
  justify-content: space-between;
}
