* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-image: linear-gradient(90deg, crimson, yellow, blue);
  background-size: 500% 600%;
  animation: bgAnimatedGradient 12s infinite linear;

}



.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.main_cards {
  display: flex;
  align-items: center;
  gap: 20px;
}
@keyframes bgAnimatedGradient {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 20%;
  }

  100% {
      background-position: 0% 85%;
  }
}